In [33]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("CAD.csv")
df

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,K,Na,WBC,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,Cath
0,53,90,175,Male,29.387755,0,1,1,0,0,...,4.7,141,5700,39,52,261,50,0,N,Cad
1,67,70,157,Fmale,28.398718,0,1,0,0,0,...,4.7,156,7700,38,55,165,40,4,N,Cad
2,54,54,164,Male,20.077335,0,0,1,0,0,...,4.7,139,7400,38,60,230,40,2,mild,Cad
3,66,67,158,Fmale,26.838648,0,1,0,0,0,...,4.4,142,13000,18,72,742,55,0,Severe,Normal
4,50,87,153,Fmale,37.165193,0,1,0,0,0,...,4.0,140,9200,55,39,274,50,0,Severe,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,58,84,168,Male,29.761905,0,0,0,0,0,...,4.8,146,8500,34,58,251,45,0,N,Cad
299,55,64,152,Fmale,27.700831,0,0,0,0,0,...,4.0,139,11400,16,80,377,40,0,mild,Normal
300,48,77,160,Fmale,30.078125,0,1,0,0,1,...,4.0,140,9000,35,55,279,55,0,N,Normal
301,57,90,159,Fmale,35.599858,1,0,0,0,0,...,3.8,141,3800,48,40,208,55,0,N,Normal
302,56,85,170,Fmale,29.411765,0,1,1,0,0,...,4.4,147,6000,32,55,302,55,0,N,Cad

In [16]:
df.head().T

                               0          1          2          3          4
Age                           53         67         54         66         50
Weight                        90         70         54         67         87
Length                       175        157        164        158        153
Sex                         Male      Fmale       Male      Fmale      Fmale
BMI                    29.387755  28.398718  20.077335  26.838648  37.165193
DM                             0          0          0          0          0
HTN                            1          1          0          1          1
Current Smoker                 1          0          1          0          0
EX-Smoker                      0          0          0          0          0
FH                             0          0          0          0          0
Obesity                        Y          Y          N          Y          Y
CRF                            N          N          N          N          N
CVA                            N          N          N          N          N
Airway disease                 N          N          N          N          N
Thyroid Disease                N          N          N          N          N
CHF                            N          N          N          N          N
DLP                            Y          N          N          N          N
BP                           110        140        100        100        110
PR                            80         80        100         80         80
Edema                          0          1          0          0          0
Weak Peripheral Pulse          N          N          N          N          N
Lung rales                     N          N          N          N          N
Systolic Murmur                N          N          N          N          Y
Diastolic Murmur               N          N          N          Y          N
Typical Chest Pain             0          1          1          0          0
Dyspnea                        N          N          N          Y          Y
Function Class                 0          0          0          3          2
Atypical                       N          N          N          N          N
Nonanginal                     N          N          N          Y          N
Exertional CP                  N          N          N          N          N
LowTH Ang                      N          N          N          N          N
Q Wave                         0          0          0          0          0
St Elevation                   0          0          0          0          0
St Depression                  1          1          0          1          0
Tinversion                     1          1          0          0          0
LVH                            N          N          N          N          N
Poor R Progression             N          N          N          N          N
FBS                           90         80         85         78        104
CR                           0.7        1.0        1.0        1.2        1.0
TG                           250        309        103         63        170
LDL                          155        121         70         55        110
HDL                         30.0       36.0       45.0       27.0       50.0
BUN                            8         30         17         30         16
ESR                            7         26         10         76         27
HB                          15.6       13.9       13.5       12.1       13.2
K                            4.7        4.7        4.7        4.4        4.0
Na                           141        156        139        142        140
WBC                         5700       7700       7400      13000       9200
Lymph                         39         38         38         18         55
Neut                          52         55         60         72         39
PLT                          261        165        230        742        274
EF-TTE                        50         40         40         55         50
Region RWMA                    0          4          2          0          0
VHD                            N          N       mild     Severe     Severe
Cath                         Cad        Cad        Cad     Normal     Normal

In [11]:
df[["HTN","Current Smoker"]].value_counts()

HTN  Current Smoker
1    0                 152
0    0                  88
     1                  36
1    1                  27
dtype: int64

In [14]:
df[["HTN","EX-Smoker"]].value_counts()

HTN  EX-Smoker
1    0            172
0    0            121
1    1              7
0    1              3
dtype: int64

In [21]:
BMI_group=pd.cut(df["BMI"],[0,18.5,24.9,41],labels=["Underweight","Healthy Weight", "Overweight"])
df["BMI_group"]=BMI_group
df

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,Na,WBC,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,Cath,BMI_group
0,53,90,175,Male,29.387755,0,1,1,0,0,...,141,5700,39,52,261,50,0,N,Cad,Overweight
1,67,70,157,Fmale,28.398718,0,1,0,0,0,...,156,7700,38,55,165,40,4,N,Cad,Overweight
2,54,54,164,Male,20.077335,0,0,1,0,0,...,139,7400,38,60,230,40,2,mild,Cad,Healthy Weight
3,66,67,158,Fmale,26.838648,0,1,0,0,0,...,142,13000,18,72,742,55,0,Severe,Normal,Overweight
4,50,87,153,Fmale,37.165193,0,1,0,0,0,...,140,9200,55,39,274,50,0,Severe,Normal,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,58,84,168,Male,29.761905,0,0,0,0,0,...,146,8500,34,58,251,45,0,N,Cad,Overweight
299,55,64,152,Fmale,27.700831,0,0,0,0,0,...,139,11400,16,80,377,40,0,mild,Normal,Overweight
300,48,77,160,Fmale,30.078125,0,1,0,0,1,...,140,9000,35,55,279,55,0,N,Normal,Overweight
301,57,90,159,Fmale,35.599858,1,0,0,0,0,...,141,3800,48,40,208,55,0,N,Normal,Overweight
302,56,85,170,Fmale,29.411765,0,1,1,0,0,...,147,6000,32,55,302,55,0,N,Cad,Overweight

In [22]:
age_group=pd.cut(df["Age"],[0,10,18,50,150],labels=["kid","teen", "adult","old"])
df["Age_group"]=age_group
df

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,WBC,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,Cath,BMI_group,Age_group
0,53,90,175,Male,29.387755,0,1,1,0,0,...,5700,39,52,261,50,0,N,Cad,Overweight,old
1,67,70,157,Fmale,28.398718,0,1,0,0,0,...,7700,38,55,165,40,4,N,Cad,Overweight,old
2,54,54,164,Male,20.077335,0,0,1,0,0,...,7400,38,60,230,40,2,mild,Cad,Healthy Weight,old
3,66,67,158,Fmale,26.838648,0,1,0,0,0,...,13000,18,72,742,55,0,Severe,Normal,Overweight,old
4,50,87,153,Fmale,37.165193,0,1,0,0,0,...,9200,55,39,274,50,0,Severe,Normal,Overweight,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,58,84,168,Male,29.761905,0,0,0,0,0,...,8500,34,58,251,45,0,N,Cad,Overweight,old
299,55,64,152,Fmale,27.700831,0,0,0,0,0,...,11400,16,80,377,40,0,mild,Normal,Overweight,old
300,48,77,160,Fmale,30.078125,0,1,0,0,1,...,9000,35,55,279,55,0,N,Normal,Overweight,adult
301,57,90,159,Fmale,35.599858,1,0,0,0,0,...,3800,48,40,208,55,0,N,Normal,Overweight,old
302,56,85,170,Fmale,29.411765,0,1,1,0,0,...,6000,32,55,302,55,0,N,Cad,Overweight,old

In [27]:
WBC_range = df.WBC.max()-df.WBC.min()
WBC_range

14300

In [31]:
df.groupby(["Sex"]).describe().T

Sex                     Fmale        Male
Age         count  127.000000  176.000000
            mean    59.456693   58.494318
            std      9.857521   10.771389
            min     36.000000   30.000000
            25%     51.000000   50.000000
...                       ...         ...
Region RWMA min      0.000000    0.000000
            25%      0.000000    0.000000
            50%      0.000000    0.000000
            75%      0.000000    1.000000
            max      4.000000    4.000000

[272 rows x 2 columns]

In [34]:
df.agg([np.mean, np.sum ])

/var/folders/tz/bv94hgj91pz58fhx5qxg06pr0000gn/T/ipykernel_787/3717804937.py:1: FutureWarning: ['Sex', 'Obesity', 'CRF', 'CVA', 'Airway disease', 'Thyroid Disease', 'CHF', 'DLP', 'Weak Peripheral Pulse', 'Lung rales', 'Systolic Murmur', 'Diastolic Murmur', 'Dyspnea', 'Atypical', 'Nonanginal', 'Exertional CP', 'LowTH Ang', 'LVH', 'Poor R Progression', 'VHD', 'Cath', 'BMI_group', 'Age_group'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg([np.mean, np.sum ])

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,K,Na,WBC,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,Cath
mean,58.89769,73.831683,164.716172,NaN,27.248339,0.29703,0.590759,0.207921,0.033003,0.158416,...,4.230693,140.9967,7.562046e+03,32.39934,60.148515,221.488449,47.231023,0.620462,NaN,NaN
sum,17846.00000,22371.000000,49909.000000,MaleFmaleMaleFmaleFmaleMaleMaleMaleFmaleMaleMa...,8256.246674,90.00000,179.000000,63.000000,10.000000,48.000000,...,1281.900000,42722.0000,2.291300e+06,9817.00000,18225.000000,67111.000000,14311.000000,188.000000,NNmildSevereSevereNmildmildNNmildmildModeratem...,CadCadCadNormalNormalCadCadCadNormalCadCadCadC...

In [35]:
df["Thyroid Disease"].value_counts()

N    296
Y      7
Name: Thyroid Disease, dtype: int64

In [38]:
df.groupby("Current Smoker").describe().T

Current Smoker              0          1
Age         count  240.000000  63.000000
            mean    59.662500  55.984127
            std     10.252393  10.487307
            min     30.000000  30.000000
            25%     51.750000  48.000000
...                       ...        ...
Region RWMA min      0.000000   0.000000
            25%      0.000000   0.000000
            50%      0.000000   0.000000
            75%      1.000000   2.000000
            max      4.000000   4.000000

[264 rows x 2 columns]

In [43]:
a = df.groupby(["VHD"])
a.mean()

/var/folders/tz/bv94hgj91pz58fhx5qxg06pr0000gn/T/ipykernel_787/603947438.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  a.mean()

,Age,Weight,Length,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,BP,...,ESR,HB,K,Na,WBC,Lymph,Neut,PLT,EF-TTE,Region RWMA
VHD,,,,,,,,,,,,,,,,,,,,,
Moderate,60.370370,70.962963,165.444444,26.003311,0.370370,0.555556,0.185185,0.111111,0.037037,128.148148,...,20.185185,13.251852,4.337037,140.629630,8196.296296,30.518519,62.518519,212.370370,35.000000,1.370370
N,56.706897,76.577586,165.732759,27.915668,0.284483,0.525862,0.267241,0.008621,0.250000,127.310345,...,18.267241,13.154310,4.227586,141.301724,7324.137931,33.646552,59.034483,220.431034,50.525862,0.370690
Severe,57.000000,70.818182,162.181818,27.005524,0.000000,0.454545,0.272727,0.000000,0.000000,122.272727,...,20.727273,13.290909,4.081818,140.909091,8772.727273,31.181818,61.545455,271.181818,45.000000,0.181818
mild,60.476510,72.436242,163.979866,26.972343,0.315436,0.657718,0.161074,0.040268,0.120805,132.093960,...,20.167785,13.124832,4.224832,140.832215,7542.953020,31.859060,60.483221,220.295302,47.046980,0.711409